<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- namespace：需要和Mapper接口的名字(全路径名)保持一致 -->
<mapper namespace="com.njwangbo.mapper.UserMapper">
	
	<select id="getOneUserByUserName" resultType="User" parameterType="String">
		select * from user where username=#{username}
	</select>
	
</mapper>
